@model IndexViewModel
@{
    ViewData["Title"] = "خانه";
    int a = 1;
    int b = 1;
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="alert alert-info text-center">
            <h1>
            برای استفاده از خدمات سایت باید <strong><a asp-action="Login" asp-controller="Account">وارد</a></strong> شوید
        </h1>
        <br>
        <h4>
                این سایت کوتاه کننده لینک است و <a href="https://mramoori.ir">برنامه نویس</a> آن هیچ تعهدی در قبال استفاده کاربران ندارد .
        </h4>
    </div>
}

else
{
   <h6 class="text-primary">
           <span class="text-info">نام کاربری: </span> @User.Identity.Name
     <br />
               <span class="text-info">ایمیل: </span> @User.Identity.GetEmail()
         <br />
            <span class="text-info">شماره موبایل: </span> @User.Identity.GetMobile()
            <br />                       
            <span class="text-info">تاریخ ثبت نام: </span> @User.Identity.GetRegisterdate()
   </h6>


           <div class="alert alert-secondary text-center">
           <h3>
               <a asp-action="AddScript" asp-controller="Script" class="btn btn-primary">
                   ساخت اسکریپت
               </a>
           </h3>
       </div>


   <div class="alert alert-secondary text-center">
       <h3>
           <a asp-action="GenerateLink" asp-controller="UrlShortener" class="btn btn-primary">
               ساخت لینک کوتاه
           </a>
       </h3>
   </div>

   <hr />

   <p class="text-info">اسکریپت ها</p>


    <table class="table table-bordered table-borderless table-striped text-center table-responsive-md">
              <thead>
               <tr>
                   <th class="border">ردیف</th>
                   <th class="border">نام مشتری</th>
                   <th class="border">لینک اسکریپت</th>
                   <th class="border">تاریخ ایجاد</th>
                   <th class="border">وضعیت</th>
                   <th class="border">آپدیت</th>
                   <th class="border">دستورات</th>
               </tr>
           </thead>
       
       @foreach (var item in Model.Scripts)
        {
            

           <tr class="border">
               <td class="border">
                 @b
               </td>
               <td class="border">
                  @if (!item.IsActive)
                    {
                   <p class="alert alert-danger">
                        @item.Customer 
                  </p> 
                 
                    }
                    else
                    {
                        <p>
                        @item.Customer
                  </p> 
                    }
               </td>
               <td class="border">
                   <a href="@(ViewData["urlSite"]+item.ShortLink)">
                        @(ViewData["urlSite"] + item.ShortLink)
                  </a>
               </td>
               <td class="border">
                   @item.CreateDate.ToString("yyyy/MM/dd")
               </td>
               <td class="border">
                 @if (item.IsActive)
                    {
                        <p>فعال</p>
                    }
                    else
                    {
                        <p class="text-danger">غیر فعال</p>
                    }
               </td>
               <td class="border">
                   @item.Visit
               </td>
               <td class="border">
                   <a asp-action="Delete" asp-controller="Link" asp-route-id="@item.ScriptId" class="btn btn-danger">حذف</a>
                   <a asp-action="UpdateScript" asp-controller="Script" asp-route-id="@item.ScriptId" class="btn btn-warning">ویرایش</a>
               </td>
           </tr>
           b += 1;
       }
   </table>

   

  @if (Model.ShortUrls.Any())
    {
        <hr />

         <p class="text-info">لینک های کوتاه</p>

   <table class="table table-bordered table-borderless  table-responsive-md">
              <thead>
               <tr>
                   <th class="border">ردیف</th>
                   <th class="border">لینک کامل</th>
                   <th class="border">لینک کوتاه</th>
                   <th class="border">تاریخ ایجاد</th>
                   <th class="border">بازدید</th>
                   <th class="border">دستورات</th>
               </tr>
           </thead>
       
       @foreach (var item in Model.ShortUrls)
        {
            

           <tr class="border">
               <td class="border">
                 @a
               </td>
               <td class="border">
                  <a href="@item.Link">
                        @item.Link
                  </a> 
               </td>
               <td class="border">
                   <a href="@(ViewData["urlSite"]+item.ShortLink)">
                        @(ViewData["urlSite"] + item.ShortLink)
                  </a>
               </td>
               <td class="border">
                   @item.CreateDate.ToString("yyyy/MM/dd")
               </td>
               <td class="border">
                   @item.Visit
               </td>
               <td class="border">
                   <a asp-action="Delete" asp-controller="Link" asp-route-id="@item.LinkId" class="btn btn-danger">حذف</a>
                   <a asp-action="Update" asp-controller="Link" asp-route-id="@item.LinkId" class="btn btn-warning">ویرایش</a>
               </td>
           </tr>
           a += 1;
       }
   </table>
    }

  


}

