@page
@model LinkShortener.Pages.Admin.ManageScripts.IndexModel

@{
    ViewData["Title"] = "خانه ادمین";
}

<table class="table table-bordered table-borderless table-responsive-md">
    <thead>
        <tr>
            <th class="border">
                @Html.DisplayNameFor(model => model.Scripts[0].Customer)
            </th>
            <th class="border">
                کاربر
            </th>
            <th class="border">
                @Html.DisplayNameFor(model => model.Scripts[0].CreateDate)
            </th>
            <th class="border">
                @Html.DisplayNameFor(model => model.Scripts[0].IsActive)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Scripts)
        {
                <tr class="border">
                <td class="border">
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td class="border">
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td class="border">
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td class="border">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            </tr>
        }
    </tbody>
</table>
